body {
  color: #FCE938;
  background-color: rgba(0, 0, 0, .3) !important;
  background-image: url(../img/stars.jpg);
  background-blend-mode: color;

}

#logo {
  max-width: 300px;
}

label input {
  visibility: hidden;
  position: absolute;
}

img.answer-selector {
  width: 24px;
}

label input + img {
  visibility: hidden;
}

label input:checked + img {
  visibility: visible;
}

/* MODAL */

div.modal-dialog {
  color: #000000;
}

div.modal-body img {
  width: 50%;
}

div.modal-body p{
  font-size: 24px;
  font-weight: 600;
  display: inline;
}
